<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,  user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title></title>
  </head>
  <body>
      <h1 class="title"> Distros</h1>

    <div class="container">

      <div class="tarjeta">
        <img src="/assets/imagenes/debian_i.png" width="20px">
        <h4>
          <a href="">Debian</a>
        </h4>
        <p>
          debian Debian es una asociación de individuos que han hecho un frente común para crear un sistema operativo libre.
        </p>
        <a href="https://www.debian.org/">Leer mas</a>
      </div>

      <div class="tarjeta">

        <img src="/assets/imagenes/ubuntu_i.png">
        <h4>
          <a href="https://www.ubuntu.com/">Ubuntu</a>
        </h4>
        <p> es un completo sistema operativo Línux de escritorio, disponible gratuitamente con soporte tanto de la comunidad como profesional</p>
        <a href="#">Leer mas</a>
      </div>


      <div class="tarjeta">

        <img src="/assets/imagenes/elementary_i.png">
        <h4>
          <a href="https://elementary.io/">Elemenary OS</a>
        </h4>
        <p>es una distribución de escritorio basada en Ubuntu. Algunas de sus características más interesantes incluyen un nuevo GTK+ y temas para íconos en GNOME</p>
        <a href="#">Leer mas</a>
      </div>

      <div class="tarjeta">

        <img src="/assets/imagenes/manjaro_i.png">
        <h4>
          <a href="https://manjaro.org/">Manjaro</a>
        </h4>
        <p>es una distribución basada en Arch Linux orientada al escritorio y amigable con el usuario. Algunas de sus características más destacadas incluyen un proceso de instalación intuitivo
        </p>
        <a href="#">Leer mas</a>
      </div>

      <div class="tarjeta">

        <img src="/assets/imagenes/arch_i.png">
        <h4>
          <a href="https://www.archlinux.org/">Arch</a>
        </h4>
        <p>una distribución de Línux desarrollada de forma independiente y optimizada para procesadores i686- y x86_64</p>
        <a href="#">Leer mas</a>
      </div>

      <div class="tarjeta">

        <img src="/assets/imagenes/fedora_i.png">
        <h4>
          <a href="https://getfedora.org/">Fedora</a>
        </h4>
        <p>es una distribución Línux desarrollada por la comunidad que apoya al proyecto Fedora, propiedad de Red Hat</p>
        <a href="#">Leer mas</a>
      </div>

      <div class="tarjeta">

        <img src="/assets/imagenes/opensuse_i.png">
        <h4>
          <a href="https://www.opensuse.org/">Open Suse</a>
        </h4>
        <p> es un programa comunitario patrocinado por Novell. Promoviendo el uso de Línux en todas partes, este programa provee de acceso libre y sencillo.</p>
        <a href="#">Leer mas</a>
      </div>

      <div class="tarjeta">

        <img src="/assets/imagenes/kali_i.png">
        <h4>
          <a href="https://www.kali.org/">Kai Linux</a>
        </h4>
        <p> es una distribución basada en Debian con una colección de herramientas de seguridad y forenses.</p>
        <a href="#">Leer mas</a>
      </div>

      <div class="tarjeta">

        <img src="/assets/imagenes/puppy_i.png">
        <h4>
          <a href="http://puppylinux.com/">Puppy Linux</a>
        </h4>
        <p>Puppy es una distribución pensada para usar el mínimo de recursos posibles. Tiene intersantes aplicaciones, dispone de varios entornos de escritorio ligeros (LXDE, JWM, IceWM)</p>
        <a href="#">Leer mas</a>
      </div>

      <div class="tarjeta">

        <img src="/assets/imagenes/deepin_i.png">
        <h4>
          <a href="http://puppylinux.com/">Deepin</a>
        </h4>
        <p> basada en Debian con miras a proveer un sistema operativo elegante, amigable con el usuario a la par de ser confiable con entorno de escritorio propio</p>
        <a href="#">Leer mas</a>
      </div>

      <div class="tarjeta">

        <img src="/assets/imagenes/tails_i.png">
        <h4>
          <a href="https://tails.boum.org/">Tails OS</a>
        </h4>
        <p>es un CD/USB en vivo basado en Debian con la meta de proveer completo anonimato en Internet al usuario</p>
        <a href="#">Leer mas</a>
      </div>

      <div class="tarjeta">

        <img src="/assets/imagenes/whonix_i.png">
        <h4>
          <a href="">Whonix</a>
        </h4>
        <p> es un sistema operativo enfocado en el anonimato, la privacidad y la seguridad. Está basado en la red Tor.</p>
        <a href="#">Leer mas</a>
      </div>



    </div>


  </body>
</html>
