.distro { color: 9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK;
font-family:Arial;
font-size:15px;
display: grid;
grid-template-columns: 1fr 1fr;
}
.titulo{
  text-align: center;
}

.ubuntu { color: 9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK;
font-family:Arial;
font-size:15px;
display: grid;
grid-template-columns: 1fr 1fr;
}

.elementary { color: 9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK;
font-family:Arial;
font-size:15px;
display: grid;
grid-template-columns: 1fr 1fr;
}

.manjaro { color: 9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK;
font-family:Arial;
font-size:15px;
display: grid;
grid-template-columns: 1fr 1fr;
}

.mint { color: 9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK;
font-family:Arial;
font-size:15px;
display: grid;
grid-template-columns: 1fr 1fr;
}
