.linux{
width: 200px;
height: 200px;
display:flex;
color: white;
justify-content: center;
align-items: center;
}

.imagen{

width: 50px;
border-radius: 100%;


}


.nvbar{
  line-height: 48px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  left: 20%;
  top: 10%;
}

.nvbar1{
  line-height: 48px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  left: 27%;
  top: 10%;
}

.nvbar2{
  line-height: 48px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  left: 37%;
  top: 10%;
}

.nvbar3{
  line-height: 48px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  left: 46%;
  top: 10%;
}




.divide {
  line-height: 48px;
  position: absolute;
  left: 25%;
  top: 10%;
  color: #fff;
}

.divide1 {
  line-height: 48px;
  position: absolute;
  left: 35%;
  top: 10%;
  color: #fff;
}

.divide2 {
  line-height: 48px;
  position: absolute;
  left: 44%;
  top: 10%;
  color: #fff;
}

.divide3 {
  line-height: 48px;
  position: absolute;
  left: 52%;
  top: 10%;
  color: #fff;
}
