<div class="problema">

<div class="h">
  <h1>El problema</h1>

    <p class="texto">Las escuelas tienen una misión social: enseñar a los alumnos a ser ciudadanos de una sociedad fuerte, capaz, independiente, solidaria y libre. Deben promover el uso de software libre al igual que promueven la conservación y el voto. Enseñando el software libre, las escuelas pueden formar ciudadanos preparados para vivir en una sociedad digital libre. Esto ayudará a que la sociedad entera se libere del dominio de las megacorporaciones.</p>

          <p class="texto"> A fin de cuentas, ¿por qué algunos programadores de software privativo ofrecen a las escuelas copias gratuitas de programas que no son libres? Porque quieren utilizar a las escuelas para imponer la dependencia de sus productos, No entregarán copias gratuitas a los estudiantes una vez que se hayan graduado, así como tampoco a las empresas para las cuales trabajarán. Una vez que uno es dependiente, se espera que pague, y las futuras actualizaciones pueden ser costosas.</p>

         <p class="texto">El software privativo repudia esta sed de conocimiento y sostiene: «El conocimiento que buscas es secreto, ¡aprender está prohibido!». El software privativo es enemigo de la educación, de manera que no se lo debe aceptar en una escuela, excepto para someterlo a la ingeniería inversa.</p>


</div>

</div>
