<div class="objetivo">
<div class="h">
  <h1>Objetivo</h1>

    <p class="texto">Las actividades relacionadas con la educación (incluidas las escuelas de todos los niveles, desde preescolar hasta la universidad) tienen el deber moral de enseñar únicamente software libre.</p>

          <p class="texto"> Todos los usuarios de ordenadores deben insistir en que el software sea libre: el software libre otorga a los usuarios la libertad de controlar sus propios ordenadores; con el software privativo, en cambio, el programa hace lo que el propietario o el programador quiere que haga, no lo que el usuario desea. El software libre también le da a los usuarios la libertad de cooperar unos con otros y llevar una vida honrada. Estas razones se aplican tanto a las escuelas como a cualquier persona, aunque el propósito de este artículo es plantear los motivos adicionales que interesan específicamente a la educación.</p>

         <p class="texto">El software libre supone un ahorro económico para las escuelas, pero este es un beneficio secundario. El ahorro es posible porque el software libre le da a las escuelas, igual que a cualquier otro usuario, la libertad de copiar y redistribuir el software. Así, el sistema educativo puede entregar una copia del programa a todas las escuelas, y cada una de ellas puede instalarlo en todos los ordenadores que posea sin estar obligada a pagar por ello.</p>


</div>

</div>
