
<div class="">

<video class="video" src="/assets/videos/Video_1.mp4" autoplay="" loop="" muted="" style="transform"></video>
<div class="titulo">
  <h1>Linux Rules</h1>
  <p class="sub"> free software is the future!</p>

</div>
</div>

  <div id="general" >
<div class="libre">
  <h3>¿Por qué usar software libre?</h3>
  <div class="icons">
    <div class="icon1">
      <h4>
        El software libre es seguro
      </h4>
      <div class="imagen">
          <img src="/assets/imagenes/escudo.svg" alt="" width="250" height="250">
      </div>

      <p>Dificulta el ataque de terceros y la afectación por virus comunes en otros sistemas operativos.</p>
    </div>

    <div class="icon1">
      <h4>
         acceso al código fuente del programa
      <div class="imagen">
          <img src="/assets/imagenes/terminal.svg" alt="" width="230" height="230">
      </div>
      </h4>
      <p>puedes inspeccionar y modicifar el codigo fuente de acuerdo a tus nececidades y distribuirlo</p>
    </div>
    <div class="icon1">
      <h4>
        comunidad
      </h4>
      <div class="imagen">
        <img src="/assets/imagenes/tux.svg" width="230" height="230">
      </div>
<p>contaremos con un soporte técnico conformado por los diferentes usuarios de plataformas Linux de casi todas las partes del globo</p>

    </div>


  </div>
</div>


</div>
