.titulo {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;

    color: white;
    text-align: inherit;
    text-decoration: inherit;
    box-sizing: inherit;
    vertical-align: inherit;
    background: transparent;
}



div#general {
  text-align: center;
      background-color: #eee;
      padding-top: 82px;
      padding-bottom: 65px;
      position: relative;
      width: 100%;
}


.libre{

  font-size: 51.646px;
  font-size: 62px;
  letter-spacing: -.7px;
  color: #green;
  font-family: BrandonGrotesque-Medium;
  margin: 0;
}
