

.video{
min-width: 100%;

}


.titulo {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;

}



div#general {
  text-align: center;
      background-color: #eee;
      padding-top: 82px;
      padding-bottom: 65px;
      position: relative;
      width: 100%;
}


.libre  {
  position: relative;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  color: green;
}

.icons{
  margin: 0;
    margin-top: 0px;
padding: 0;
outline: 0;
border: 0;
font: inherit;
color: inherit;
text-align: inherit;
text-decoration: inherit;
box-sizing: inherit;
vertical-align: inherit;
background: transparent;
display: inline-block;
width: 100%;
margin-top: 64px;
color: #3D5F4E;

}

.icon1{
  float: left;
  width: 33.33%;

}
