
<div class="">
<video class="" src="http://www.piedpiper.com/app/themes/pied-piper/dist/images/Video_1.mp4" autoplay="" loop="" muted="" width="1300px"></video>
<div class="titulo">
  <h1>Linux Rules</h1>
  <p class="sub"> free software is the future!</p>

</div>
</div>

  <div id="general">

<div id="izquierda">

<img src="/assets/imagenes/richard.jpg" alt="">

</div>

<div id="derecha">
<pre>

  ¿por qué usar software libre?

  En los últimos años hemos venido escuchando cada vez más los términos
  Software Libre (Free Software) y, más
  recientemente Software de fuentes abiertas
  (Open Source Software).
  Estos términos se refieren al modelo de de
  sarrollo y de distribución del software
  desarrollado cooperativamente. En vez de que el código del sistema o de cada uno de los programas sea un secreto celosamente guardado por la empresa que
  lo produce, éste es puesto a disposición del público, para que puedan modificar,
  mejorar o corregir.

  “Software Libre” se refiere a la libertad de los usuarios para ejecutar, copiar, distribuir, estudiar, cambiar y mejorar el software. De modo más preciso, se refiere
  a cuatro libertades de los usuarios del software:


  -La libertad de usar el programa, con cualquier propósito

  -La libertad de estudiar cómo funcionael programa, y adaptarlo a tus
  necesidades

  -La libertad de distribuir copias.

  -La libertad de mejorar el programa y hacer públicas las mejoras a los  demás, de modo que toda la comunidad se beneficie. El acceso al código
  fuente es un requisito.

  El Software Libre es también conocido como Free Software y entra dentro de la familia del software de fuentes abiertas(Open Source) poniendo énfasis en ofrecer libertades en vez de poner restricciones.

  Cuando se usa el término "código abierto" (Open source), se hace hincapié en ventajas técnicas, como seguridad o rendimiento, fruto de la disponibilidad del
  código para inspección, mientras que con el término "Software libre" (free software) se quiere destacar que estos programas no están completamente
  controlados por un fabricante. Lo opuesto a "abierto" es obviamente "cerrado", o
  "privado". Téngase en cuenta que muchos programas abiertos son a la vez
  comerciales, así que no confunda "abierto " con "no comercial". Tampoco se ha
  puesto casi ningún programa abierto en el llamado "dominio público", de modo que tampoco será conveniente usar ese término. No es lo mismo.


</pre>
</div>

  </div>
<div class="">
  <h2>work</h2>
</div>
