.titulo {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-size: 300px;
    color: white;
    text-align: inherit;
    text-decoration: inherit;
    box-sizing: inherit;
    vertical-align: inherit;
    background: transparent;
}

  .sub  {  
   font-size: 16px !important;
    letter-spacing: .5px;
}
